.contents {
  height: 100vh;
  background-image: url('/static/images/amusement-park.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  .title {
    margin: 0;
    width: 100%;
    padding-top: 30px;
    font-size: 48px;
    text-align: center;
    color: #272e59;
  }
  .description {
    text-align: center;
  }
}